<html lang="en">

   <%- include header %>

   <div class="container-fluid text-center">    
    <div class="row content">
      <div class="text-center">
        <img class="img-fluid" src="/img/NewYork.jpeg" alt="Chania">
      </div>
      <div class="col-sm-8 text-left"> 
        <h1>Welcome to Visit NYC</h1>
        <p>This is a website that is intended to be used for a guide to travel and explore NYC. You can select whether you want to be have a local or tourist account. In the menu, users can find what categories they want to visit and are given plenty of information. Local accounts can post recommendations and all accounts can comment on the recommendations. There is also a map showing locations for the places in the menu. They have icons so users know what category it is in.</p>
        <hr>
        <h3>Feeling bored?</h3>
        <p>Visit the "menu" to find things to do in NYC.</p>
        <img class="img-thumbnail" src="/img/walking.jpg" alt="Chania" width="300" height="300">
        <h3>Need a location?</h3>
        <p>Visit "map" to see the locations of different places from the menu.</p>
        <img class="img-thumbnail" src="/img/map.jpg" alt="Chania" width="300" height="300">
      </div>
    </div>
  </div>
  
    <%- include footer %>